// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: rgba(252, 250, 250, 0);
$body-color: rgb(0, 0, 0);
$primary: rgba(17, 143, 27, 0.678);
$font-family-base: Arial;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS
body {
  padding: 20px;
}
.header {
  text-align: center;
}

.w-special {
  text-align: center;
}
.card {
  max-width: 300px;
  margin-top: 20px;
}
