// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #000;
$body-color: white;
$primary: hotpink;
$font-family-base: Arial;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS
body {
  padding: 20px;
}
.header {
  text-align: center;
}

.w-special {
  text-align: center;
}
.card {
  max-width: 300px;
  margin-top: 20px;
  box-align: center;
}

.h1 {
  margin-top: 20px;
}
